In [3]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sqlite3


# Importing the dataset
conn = sqlite3.connect('database.sqlite')

In [4]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('sqlite_sequence',), ('Player_Attributes',), ('Player',), ('Match',), ('League',), ('Country',), ('Team',), ('Team_Attributes',)]

In [5]:
df_league = pd.read_sql_query("select * from League;", conn)
df_league.head()

      id  country_id                    name
0      1           1  Belgium Jupiler League
1   1729        1729  England Premier League
2   4769        4769          France Ligue 1
3   7809        7809   Germany 1. Bundesliga
4  10257       10257           Italy Serie A

In [6]:
df_player_attributes = pd.read_sql_query("select * from Player_Attributes;", conn)
df_player = pd.read_sql_query("select * from Player;", conn)
df_match = pd.read_sql_query("select * from Match;", conn)
df_country = pd.read_sql_query("select * from Country;", conn)
df_team_attributes = pd.read_sql_query("select * from Team_Attributes;", conn)
df_team = pd.read_sql_query("select * from Team;", conn)

In [7]:
df_player_attributes.head(1)

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

In [8]:
df_player.head(1)

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187

In [9]:
df_country.head(1)

   id     name
0   1  Belgium

In [10]:
df_team_attributes.head(1)

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover

In [11]:
df_team.head(1)

   id  team_api_id  team_fifa_api_id team_long_name team_short_name
0   1         9987             673.0       KRC Genk             GEN

In [12]:
df_match.head(1)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,...,4.0,1.65,3.4,4.5,1.78,3.25,4.0,1.73,3.4,4.2

## Checking NULL

In [13]:
df_match.isna().sum()

id                      0
country_id              0
league_id               0
season                  0
stage                   0
date                    0
match_api_id            0
home_team_api_id        0
away_team_api_id        0
home_team_goal          0
away_team_goal          0
home_player_X1       1821
home_player_X2       1821
home_player_X3       1832
home_player_X4       1832
home_player_X5       1832
home_player_X6       1832
home_player_X7       1832
home_player_X8       1832
home_player_X9       1832
home_player_X10      1832
home_player_X11      1832
away_player_X1       1832
away_player_X2       1832
away_player_X3       1832
away_player_X4       1832
away_player_X5       1832
away_player_X6       1832
away_player_X7       1832
away_player_X8       1832
                    ...
B365H                3387
B365D                3387
B365A                3387
BWH                  3404
BWD                  3404
BWA                  3404
IWH                  3459
IWD                  3459
IWA                  3459
LBH                  3423
LBD                  3423
LBA                  3423
PSH                 14811
PSD                 14811
PSA                 14811
WHH                  3408
WHD                  3408
WHA                  3408
SJH                  8882
SJD                  8882
SJA                  8882
VCH                  3411
VCD                  3411
VCA                  3411
GBH                 11817
GBD                 11817
GBA                 11817
BSH                 11818
BSD                 11818
BSA                 11818
Length: 115, dtype: int64

In [14]:
df_team_attributes.isna().sum()

id                                  0
team_fifa_api_id                    0
team_api_id                         0
date                                0
buildUpPlaySpeed                    0
buildUpPlaySpeedClass               0
buildUpPlayDribbling              969
buildUpPlayDribblingClass           0
buildUpPlayPassing                  0
buildUpPlayPassingClass             0
buildUpPlayPositioningClass         0
chanceCreationPassing               0
chanceCreationPassingClass          0
chanceCreationCrossing              0
chanceCreationCrossingClass         0
chanceCreationShooting              0
chanceCreationShootingClass         0
chanceCreationPositioningClass      0
defencePressure                     0
defencePressureClass                0
defenceAggression                   0
defenceAggressionClass              0
defenceTeamWidth                    0
defenceTeamWidthClass               0
defenceDefenderLineClass            0
dtype: int64

In [15]:
df_team.isna().sum()

id                   0
team_api_id          0
team_fifa_api_id    11
team_long_name       0
team_short_name      0
dtype: int64

In [16]:
df_player.isna().sum()

id                    0
player_api_id         0
player_name           0
player_fifa_api_id    0
birthday              0
height                0
weight                0
dtype: int64

In [17]:
df_player_attributes.isna().sum()

id                        0
player_fifa_api_id        0
player_api_id             0
date                      0
overall_rating          836
potential               836
preferred_foot          836
attacking_work_rate    3230
defensive_work_rate     836
crossing                836
finishing               836
heading_accuracy        836
short_passing           836
volleys                2713
dribbling               836
curve                  2713
free_kick_accuracy      836
long_passing            836
ball_control            836
acceleration            836
sprint_speed            836
agility                2713
reactions               836
balance                2713
shot_power              836
jumping                2713
stamina                 836
strength                836
long_shots              836
aggression              836
interceptions           836
positioning             836
vision                 2713
penalties               836
marking                 836
standing_tackle         836
sliding_tackle         2713
gk_diving               836
gk_handling             836
gk_kicking              836
gk_positioning          836
gk_reflexes             836
dtype: int64

# Finding similar players

In [18]:
df_player.drop('id',inplace=True,axis=1)
df_player.head(1)

,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187

In [19]:
df_player_attributes.drop('id',inplace=True,axis=1)
df_player_attributes.head(1)

,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

## Combining Tables to Have Player Name

In [20]:
df_comb_player =  pd.merge(df_player, df_player_attributes, on="player_api_id")

In [21]:
df_comb_player.head(1)

,player_api_id,player_name,player_fifa_api_id_x,birthday,height,weight,player_fifa_api_id_y,date,overall_rating,potential,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187,218353,2016-02-18 00:00:00,67.0,71.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0

In [22]:
df_comb_player.columns

Index(['player_api_id', 'player_name', 'player_fifa_api_id_x', 'birthday',
       'height', 'weight', 'player_fifa_api_id_y', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [23]:
df_comb_player = df_comb_player.drop(['player_fifa_api_id_x', 'birthday',
       'height', 'weight', 'player_fifa_api_id_y'],axis=1)

In [24]:
import datetime as dt
df_comb_player['date'] = pd.to_datetime(df_comb_player['date'])

# Finding Top Players

In [25]:
def top_N_players(df,year,n=10):
    df_top = df[df['date'].dt.year == year]
    df_top = df_top.sort_values('date').groupby('player_api_id').last()
    return df_top.sort_values('overall_rating').tail(n)

In [26]:
top_N_players(df_comb_player,2016)

,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_api_id,,,,,,,,,,,,,,,,,,,,,
30894,Philipp Lahm,2016-01-28,87.0,87.0,right,medium,high,84.0,47.0,63.0,...,83.0,71.0,86.0,87.0,95.0,11.0,12.0,5.0,14.0,5.0
182917,David De Gea,2016-04-21,87.0,90.0,right,medium,medium,17.0,13.0,21.0,...,68.0,40.0,13.0,21.0,13.0,88.0,81.0,86.0,85.0,89.0
164684,James Rodriguez,2016-02-18,87.0,93.0,left,medium,medium,88.0,85.0,68.0,...,87.0,81.0,25.0,47.0,30.0,15.0,15.0,15.0,5.0,14.0
36378,Mesut Oezil,2016-02-18,88.0,89.0,left,medium,low,80.0,75.0,54.0,...,93.0,76.0,22.0,16.0,19.0,6.0,14.0,10.0,6.0,14.0
107417,Eden Hazard,2016-01-28,88.0,90.0,right,high,medium,80.0,81.0,57.0,...,86.0,86.0,25.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
93447,Robert Lewandowski,2016-01-28,88.0,89.0,right,medium,medium,62.0,89.0,83.0,...,78.0,77.0,25.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
37412,Sergio Aguero,2016-03-10,88.0,88.0,right,high,medium,70.0,90.0,68.0,...,83.0,83.0,13.0,20.0,12.0,13.0,15.0,6.0,11.0,14.0
30834,Arjen Robben,2016-01-28,89.0,89.0,left,high,low,80.0,85.0,51.0,...,84.0,80.0,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
27299,Manuel Neuer,2016-04-21,90.0,90.0,right,medium,medium,15.0,13.0,25.0,...,70.0,37.0,10.0,10.0,11.0,85.0,87.0,91.0,90.0,87.0
19533,Neymar,2016-02-04,90.0,94.0,right,high,medium,72.0,88.0,62.0,...,79.0,81.0,21.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0

In [27]:
top_N_players(df_comb_player,2015)

,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_api_id,,,,,,,,,,,,,,,,,,,,,
37459,David Silva,2015-09-21,88.0,88.0,left,high,low,85.0,72.0,54.0,...,93.0,77.0,23.0,30.0,29.0,1.0,1.0,1.0,1.0,1.0
30955,Andres Iniesta,2015-10-16,88.0,88.0,right,high,medium,79.0,73.0,54.0,...,92.0,71.0,57.0,57.0,56.0,6.0,13.0,6.0,13.0,7.0
19533,Neymar,2015-12-03,89.0,94.0,right,high,medium,72.0,87.0,62.0,...,79.0,81.0,21.0,24.0,33.0,9.0,9.0,15.0,15.0,11.0
35724,Zlatan Ibrahimovic,2015-09-21,89.0,89.0,right,medium,low,76.0,90.0,76.0,...,83.0,91.0,15.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
107417,Eden Hazard,2015-09-25,89.0,91.0,right,high,medium,80.0,83.0,57.0,...,86.0,86.0,25.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
30834,Arjen Robben,2015-09-25,90.0,90.0,left,high,low,80.0,85.0,51.0,...,84.0,80.0,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
27299,Manuel Neuer,2015-11-26,90.0,90.0,right,medium,medium,15.0,13.0,25.0,...,70.0,37.0,10.0,10.0,11.0,85.0,87.0,91.0,90.0,87.0
40636,Luis Suarez,2015-10-16,90.0,90.0,right,high,medium,77.0,90.0,77.0,...,84.0,85.0,30.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0
30893,Cristiano Ronaldo,2015-10-16,93.0,93.0,right,high,low,82.0,95.0,86.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
30981,Lionel Messi,2015-12-17,94.0,94.0,left,medium,low,80.0,93.0,71.0,...,90.0,74.0,13.0,23.0,21.0,6.0,11.0,15.0,14.0,8.0

In [28]:
top_N_players(df_comb_player,2014)

,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
player_api_id,,,,,,,,,,,,,,,,,,,,,
107417,Eden Hazard,2014-10-10,88.0,90.0,right,high,medium,78.0,83.0,57.0,...,86.0,86.0,25.0,27.0,22.0,11.0,12.0,6.0,8.0,8.0
22543,Radamel Falcao,2014-09-18,88.0,88.0,right,high,medium,55.0,91.0,94.0,...,68.0,87.0,25.0,42.0,25.0,10.0,13.0,6.0,9.0,5.0
30872,Bastian Schweinsteiger,2014-10-17,88.0,88.0,right,high,high,81.0,76.0,79.0,...,86.0,81.0,69.0,80.0,77.0,14.0,14.0,13.0,13.0,11.0
30955,Andres Iniesta,2014-11-07,89.0,89.0,right,high,medium,85.0,73.0,54.0,...,93.0,71.0,57.0,57.0,56.0,6.0,13.0,6.0,13.0,7.0
40636,Luis Suarez,2014-11-28,89.0,91.0,right,high,medium,77.0,91.0,75.0,...,84.0,85.0,30.0,45.0,38.0,27.0,25.0,31.0,33.0,37.0
27299,Manuel Neuer,2014-09-18,90.0,90.0,right,medium,medium,25.0,25.0,25.0,...,20.0,37.0,25.0,25.0,25.0,87.0,85.0,92.0,90.0,86.0
30834,Arjen Robben,2014-10-17,90.0,90.0,left,high,low,80.0,85.0,50.0,...,84.0,80.0,29.0,26.0,26.0,10.0,8.0,11.0,5.0,15.0
35724,Zlatan Ibrahimovic,2014-10-17,90.0,90.0,right,medium,low,76.0,91.0,76.0,...,83.0,91.0,25.0,41.0,27.0,13.0,15.0,10.0,9.0,12.0
30893,Cristiano Ronaldo,2014-10-31,92.0,92.0,right,high,low,83.0,95.0,86.0,...,81.0,85.0,22.0,31.0,23.0,7.0,11.0,15.0,14.0,11.0
30981,Lionel Messi,2014-10-17,93.0,95.0,left,medium,low,84.0,94.0,71.0,...,90.0,76.0,25.0,21.0,20.0,6.0,11.0,15.0,14.0,8.0

# Finding Top Teams

## League Teams

In [29]:
df_comb_team = pd.merge(df_team, df_team_attributes, on="team_api_id")
df_comb_team.head(1)

,id_x,team_api_id,team_fifa_api_id_x,team_long_name,team_short_name,id_y,team_fifa_api_id_y,date,buildUpPlaySpeed,buildUpPlaySpeedClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,9987,673.0,KRC Genk,GEN,485,673,2010-02-22 00:00:00,45,Balanced,...,60,Normal,Organised,70,High,65,Press,70,Wide,Cover

In [30]:
# making the fuction

In [31]:
import datetime as dt
df_comb_team['date'] = pd.to_datetime(df_comb_team['date'])

In [32]:
df_comb_team_2015 = df_comb_team[df_comb_team['date'].dt.year == 2015]
df_comb_team_2015 = df_comb_team_2015.sort_values('date').groupby('team_api_id').last()

In [33]:
df_comb_team_2015.head()

,id_x,team_fifa_api_id_x,team_long_name,team_short_name,id_y,team_fifa_api_id_y,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
team_api_id,,,,,,,,,,,,,,,,,,,,,
1601,31446,874.0,Ruch Chorzów,CHO,1118,874,2015-09-10,47,Balanced,48.0,...,50,Normal,Organised,43,Medium,44,Press,49,Normal,Cover
1957,31456,110745.0,Jagiellonia Białystok,BIA,624,110745,2015-09-10,66,Balanced,54.0,...,66,Normal,Organised,57,Medium,56,Press,49,Normal,Cover
2182,31453,873.0,Lech Poznań,POZ,700,873,2015-09-10,57,Balanced,50.0,...,67,Lots,Free Form,50,Medium,58,Press,45,Normal,Cover
2186,31458,110747.0,Cracovia,CKR,335,110747,2015-09-10,37,Balanced,50.0,...,33,Little,Organised,59,Medium,34,Press,64,Normal,Cover
4087,11822,111271.0,Évian Thonon Gaillard FC,ETG,415,111271,2015-09-10,58,Balanced,35.0,...,51,Normal,Organised,47,Medium,43,Press,50,Normal,Cover

In [34]:
df_match_2015 = df_match[df_match.season=="2015/2016"]

In [35]:
players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
df_team_to_player_2015 = df_match_2015[players_list_home]
df_team_to_player_2015.head(1)

,home_team_api_id,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11
1488,9997,242243.0,130738.0,164323.0,210392.0,466480.0,641042.0,613260.0,215415.0,207603.0,466589.0,365245.0

In [36]:
import datetime as dt
def top_N_teams():
    df_comb_team['date'] = pd.to_datetime(df_comb_team['date'])
    df_comb_team_2015 = df_comb_team[df_comb_team['date'].dt.year == 2015]
    df_comb_team_2015 = df_comb_team_2015.sort_values('date').groupby('team_api_id').last()
    df_match_2015 = df_match[df_match.season=="2015/2016"]
    players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
    df_team_to_player_2015 = df_match_2015[players_list_home]
    newdf=df_team_to_player_2015.melt(['home_team_api_id']).sort_values('home_team_api_id')
    newdf = newdf[["home_team_api_id","value"]]
    newdf.rename( columns={"value":"player_api_id", "home_team_api_id":"team_api_id" },inplace=True)
    newdf = newdf.drop_duplicates()
    df_comb_player_2015 = df_comb_player[df_comb_player['date'].dt.year == 2015]
    df_comb_player_2015 = df_comb_player_2015.sort_values('date').groupby('player_api_id').last()
    df_comb_player_team_2015 = pd.merge(df_comb_player_2015, newdf, on="player_api_id")
    return df_comb_player_team_2015

In [42]:
new =top_N_teams()

In [55]:
new1= new.sort_values('overall_rating').groupby('team_api_id').mean()

In [56]:
df_team_total = pd.merge(new1,df_team,on="team_api_id")

In [57]:
df_team

,id,team_api_id,team_fifa_api_id,team_long_name,team_short_name
0,1,9987,673.0,KRC Genk,GEN
1,2,9993,675.0,Beerschot AC,BAC
2,3,10000,15005.0,SV Zulte-Waregem,ZUL
3,4,9994,2007.0,Sporting Lokeren,LOK
4,5,9984,1750.0,KSV Cercle Brugge,CEB
5,6,8635,229.0,RSC Anderlecht,AND
6,7,9991,674.0,KAA Gent,GEN
7,8,9998,1747.0,RAEC Mons,MON
8,9,7947,NaN,FCV Dender EH,DEN
9,10,9985,232.0,Standard de Liège,STL
10,11,8203,110724.0,KV Mechelen,MEC
11,12,8342,231.0,Club Brugge KV,CLB
12,13,9999,546.0,KSV Roeselare,ROS
13,14,8571,100081.0,KV Kortrijk,KOR
14,15,4049,NaN,Tubize,TUB
15,16,9996,111560.0,Royal Excel Mouscron,MOU
16,17,10001,681.0,KVC Westerlo,WES
17,18,9986,670.0,Sporting Charleroi,CHA
18,614,9997,680.0,Sint-Truidense VV,STT
19,1034,9989,239.0,Lierse SK,LIE
20,1042,6351,2013.0,KAS Eupen,EUP
21,1513,1773,100087.0,Oud-Heverlee Leuven,O-H
22,2004,8475,110913.0,Waasland-Beveren,WAA
23,2476,8573,682.0,KV Oostende,OOS
24,2510,274581,111560.0,Royal Excel Mouscron,MOP
25,3457,10260,11.0,Manchester United,MUN
26,3458,10261,13.0,Newcastle United,NEW
27,3459,9825,1.0,Arsenal,ARS
28,3460,8659,109.0,West Bromwich Albion,WBA
29,3461,8472,106.0,Sunderland,SUN
...,...,...,...,...,...
269,43053,9906,240.0,Atlético Madrid,AMA
270,43054,9864,573.0,Málaga CF,MAL
271,43800,9868,1742.0,Xerez Club Deportivo,XER
272,43803,8394,244.0,Real Zaragoza,ZAR
273,43804,9867,260.0,CD Tenerife,TEN
274,44557,10278,100879.0,Hércules Club de Fútbol,HER
275,44565,8581,1853.0,Levante UD,LEV
276,44569,8560,457.0,Real Sociedad,SOC
277,45330,7878,110832.0,Granada CF,GRA
278,45333,8370,480.0,Rayo Vallecano,RAY
279,46087,9910,450.0,RC Celta de Vigo,CEL
280,46848,10268,468.0,Elche CF,ELC
281,47605,8372,467.0,SD Eibar,EIB
282,47612,7869,1867.0,Córdoba CF,COR
283,48358,8306,472.0,UD Las Palmas,LAS
284,49115,9956,322.0,Grasshopper Club Zürich,GRA
285,49116,6493,1714.0,AC Bellinzona,BEL
286,49117,10192,900.0,BSC Young Boys,YB
287,49118,9931,896.0,FC Basel,BAS
288,49119,9930,434.0,FC Aarau,AAR
289,49120,10179,110770.0,FC Sion,SIO
290,49121,10199,897.0,FC Luzern,LUZ
291,49122,9824,286.0,FC Vaduz,VAD
292,49123,7955,435.0,Neuchâtel Xamax,XAM
293,49124,10243,894.0,FC Zürich,ZUR
294,49479,10190,898.0,FC St. Gallen,GAL
295,49837,10191,1715.0,FC Thun,THU
296,50201,9777,324.0,Servette FC,SER
297,50204,7730,1862.0,FC Lausanne-Sports,LAU
298,51606,7896,NaN,Lugano,LUG

In [58]:
df_team_total = df_team_total[["team_api_id","overall_rating","team_long_name"]]

In [59]:
df_team_total.sort_values("overall_rating")

     team_api_id  overall_rating                team_long_name
48          8429       59.181818        Hamilton Academical FC
37          8284       59.954545                     Dundee FC
16          7896       60.350000                        Lugano
141         9927       60.454545                    Motherwell
114         9824       60.535714                      FC Vaduz
158        10191       60.869565                       FC Thun
184       177361       61.000000  Termalica Bruk-Bet Nieciecza
18          8019       61.083333                 Górnik Łęczna
25          8033       61.285714    Podbeskidzie Bielsko-Biała
47          8426       61.826087          Partick Thistle F.C.
20          8021       61.850000                Zagłębie Lubin
74          8597       61.862069                    Kilmarnock
26          8066       62.333333  Inverness Caledonian Thistle
85          8649       62.391304                Ross County FC
19          8020       62.500000                 Polonia Bytom
34          8245       62.521739                 Korona Kielce
157        10190       62.730769                 FC St. Gallen
53          8467       62.782609              St. Johnstone FC
143         9938       62.969697                 Dundee United
23          8028       63.000000                 Piast Gliwice
0           1601       63.058824                  Ruch Chorzów
127         9860       63.521739           Heart of Midlothian
4           2186       63.578947                      Cracovia
22          8025       63.650000                 Śląsk Wrocław
180        10265       63.954545                  Wisła Kraków
174        10243       64.080000                     FC Zürich
145         9956       64.565217       Grasshopper Club Zürich
9           7788       64.777778                    SC Cambuur
161        10199       64.782609                     FC Luzern
59          8526       64.809524                 De Graafschap
..           ...             ...                           ...
139         9910       75.842105              RC Celta de Vigo
84          8640       75.842105                           PSV
101         9772       76.086957                    SL Benfica
62          8535       76.125000                    Fiorentina
100         9768       76.192308                   Sporting CP
89          8668       76.320000                       Everton
67          8564       76.920000                         Milan
177        10260       76.920000             Manchester United
156        10189       77.157895                 FC Schalke 04
38          8302       77.192308                    Sevilla FC
162        10205       77.260870                 Villarreal CF
64          8543       77.269231                         Lazio
41          8315       77.304348       Athletic Club de Bilbao
102         9773       77.478261                      FC Porto
71          8586       77.789474             Tottenham Hotspur
82          8636       77.863636                         Inter
96          8721       78.217391                 VfL Wolfsburg
93          8686       78.291667                          Roma
137         9906       78.291667               Atlético Madrid
181        10267       78.576923                   Valencia CF
115         9825       78.833333                       Arsenal
105         9789       79.000000             Borussia Dortmund
130         9875       79.117647                        Napoli
122         9847       79.739130           Paris Saint-Germain
133         9885       80.680000                      Juventus
49          8455       80.727273                       Chelsea
50          8456       81.318182               Manchester City
79          8633       81.681818                Real Madrid CF
80          8634       82.809524                  FC Barcelona
113         9823       82.954545              FC Bayern Munich

[188 rows x 3 columns]

In [47]:
newdf = newdf[["home_team_api_id","value"]]

In [49]:
newdf.rename( columns={"value":"player_api_id", "home_team_api_id":"team_api_id" },inplace=True)

/home/abhik/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [51]:
# newdf_2015 , df_comb_team_2015 , df_match_2015

In [80]:
newdf = newdf.drop_duplicates()

In [53]:
df_match_2015.head(1)

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,...,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
1488,1489,1,1,2015/2016,1,2015-07-24 00:00:00,1979832,9997,8342,2,...,NaN,4.4,4.0,1.75,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
df_comb_player_2015 = df_comb_player[df_comb_player['date'].dt.year == 2015]
len(df_comb_player_2015)

31834

In [74]:
df_comb_player_2015 = df_comb_player_2015.sort_values('date').groupby('player_api_id').last()
len(df_comb_player_2015)

7502

In [82]:
df_comb_player_team_2015 = pd.merge(df_comb_player_2015, newdf, on="player_api_id")

In [83]:
df_comb_player_team_2015.head()

,player_api_id,player_name,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,...,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,team_api_id
0,2752,Diego Mainz,2015-10-16,72.0,72.0,right,medium,medium,39.0,40.0,...,38.0,72.0,74.0,67.0,12.0,7.0,8.0,10.0,16.0,7878
1,2768,Jose Dorado,2015-12-17,75.0,75.0,left,medium,medium,44.0,45.0,...,16.0,78.0,77.0,79.0,12.0,15.0,13.0,14.0,10.0,8370
2,2802,Pablo Hernandez,2015-11-19,76.0,76.0,right,high,medium,76.0,71.0,...,72.0,42.0,47.0,36.0,13.0,16.0,9.0,9.0,7.0,8370
3,2805,Ruben Perez,2015-12-17,76.0,78.0,right,medium,medium,53.0,44.0,...,51.0,61.0,82.0,65.0,11.0,8.0,13.0,9.0,15.0,7878
4,2973,Ugur Inceman,2015-12-24,68.0,68.0,right,medium,medium,66.0,57.0,...,54.0,61.0,62.0,48.0,8.0,8.0,11.0,11.0,6.0,9803

In [54]:
df_comb_team_2015.head(1)

,id_x,team_fifa_api_id_x,team_long_name,team_short_name,id_y,team_fifa_api_id_y,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
team_api_id,,,,,,,,,,,,,,,,,,,,,
1601,31446,874.0,Ruch Chorzów,CHO,1118,874,2015-09-10,47,Balanced,48.0,...,50,Normal,Organised,43,Medium,44,Press,49,Normal,Cover

In [84]:
len(df_comb_player_team_2015)

4395

In [35]:
def top_N_team_rating(df_team,df_player,df_match,season="2015/2016"):
    df_match = df_match[df_match.season=="2015/2016"]
    df_player =  pd.merge(df_player, df_player_attributes, on="player_api_id")
    df_player = df_player[df_player['date'].dt.year == 2015]
    df_player = df_player.sort_values('date').groupby('player_api_id').last()
    players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
    
    return df_player_with_team_attributes

In [36]:
df_team_player_combined =df_team_to_player_2015.melt(['home_team_api_id']).sort_values('home_team_api_id')

In [37]:
df_team_player_combined.head(1)

      home_team_api_id       variable     value
5459              1601  home_player_2  393287.0

      team_api_id  player_api_id
5459         1601       393287.0

In [107]:
df_match_2015 = df_match[df_match.season=="2015/2016"]
players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
df_team_to_player_2015 = df_match_2015[players_list_home]
df_team_to_player_2015.head()
list_of_team_id = df_team_to_player_2015.home_team_api_id.unique().tolist()
team_dict = {}

for team_name in list_of_team_id:
    df = df_team_to_player_2015[df_team_to_player_2015.home_team_api_id== team_name]
    for player_name in pd.Series(df.values.ravel('F')).unique():
        team_dict[player_name]=team_name    

df_player_team_2015 = pd.DataFrame(team_dict,index=[0])
df_player_team_2015=df_player_team_2015.T
df_player_team_2015.reset_index(level=0, inplace=True)
df_player_team_2015.rename(index=str, columns={"index": "player_api_id", 0: "team_api_id"},inplace=True)
df_player_team_2015.head()
df_player_team_2015=df_player_team_2015[~(df_player_team_2015.player_api_id ==df_player_team_2015.team_api_id)]

In [87]:
def top_N_team_rating(df_team,df_player,df_match,season="2015/2016"):
    df_match = df_match[df_match.season=="2015/2016"]
    df_player =  pd.merge(df_player, df_player_attributes, on="player_api_id")
    df_player = df_player[df_player['date'].dt.year == 2015]
    df_player = df_player.sort_values('date').groupby('player_api_id').last()
    players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
       'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
       'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
    df_team_to_player = df_match[players_list_home]
    df_team_to_player.drop(['variable'],axis=1,inplace=True)
    df_team_to_player.rename( columns={"value":"player_api_id", "home_team_api_id":"team_api_id" },inplace=True)  
    df_team_to_player = df_team_to_player.drop_duplicates()
    df_player_with_team  = pd.merge(df_player,df_player_team,on="player_api_id")
    df_player_with_team = pd.merge(df_player_with_team,df_team[["team_long_name","team_api_id"]])
    df_player_with_team_attributes = pd.merge(df_player_with_team[["player_api_id","player_name","team_long_name","team_api_id"]],df_player_attributes[["player_api_id","overall_rating"]],on="player_api_id")
    return df_player_with_team_attributes

In [ ]:
df_test = top_N_team_rating(df_team,df_player,df_match,season="2015/2016")

In [86]:
df_match = df_match[df_match.season=="2015/2016"]
df_player =  pd.merge(df_player, df_player_attributes, on="player_api_id")
df_player['date'] = pd.to_datetime(df_player['date'])
df_player = df_player[df_player['date'].dt.year == 2015]
df_player = df_player.sort_values('date').groupby('player_api_id').last()
players_list_home = ['home_team_api_id','home_player_1', 'home_player_2', 'home_player_3',
   'home_player_4', 'home_player_5', 'home_player_6', 'home_player_7',
   'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11']
df_team_to_player = df_match[players_list_home]
df_team_to_player.drop(['variable'],axis=1,inplace=True)
df_team_to_player.rename( columns={"value":"player_api_id", "home_team_api_id":"team_api_id" },inplace=True)
df_team_to_player = df_team_to_player.drop_duplicates()
df_player_with_team  = pd.merge(df_player,df_player_team,on="player_api_id")
df_player_with_team = pd.merge(df_player_with_team,df_team[["team_long_name","team_api_id"]])
df_player_with_team_attributes = pd.merge(df_player_with_team[["player_api_id","player_name","team_long_name","team_api_id"]],df_player_attributes[["player_api_id","overall_rating"]],on="player_api_id")

KeyError: 'date'

In [134]:
df_player_team

    player_api_id  team_api_id
1             NaN         7896
2         41975.0         7896
3        330458.0         7896
4          8881.0         7896
5        282287.0         7896
6        150084.0         7896
7        173534.0         7896
8         41415.0         7896
9         39646.0         7896
10       429986.0         7896
11       114212.0         7896
12       406283.0         7896
13       491221.0         7896
14         8893.0         7896
15       393337.0         7896
16       340790.0         7896
17       186948.0         7896
18        67369.0         7896
19       614454.0         7896
20       140490.0         7896
21        93229.0         7896
22       198500.0         7896
23       178142.0         7896